.aboutpagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
}
.aboutflexwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  overflow: hidden;
}
.leftsideaboutimagecontainer {
  position: relative;
  height: 100vh;
  width: 40%;
  margin-left: 12%;
}
.image1contain {
  width: 300px;
  height: 500px;
  object-fit: contain;
  position: absolute;
  top: 40px;
}
.image2contain {
  width: 300px;
  height: 500px;
  object-fit: contain;
  position: absolute;
  top: 70px;
  left: 42%;
}
.rightsideaboutdesecription {
  width: 50%;
  padding: 25px;
}
.rightsideaboutdesecription h1 {
  font-size: 100px;
  font-family: "Overlock SC";
  font-weight: normal;
}
.rightsideaboutdesecription h2 {
  font-family: "Proza Libre";
  font-size: 30px;
  margin-bottom: 40px;
}
.rightsideaboutdesecription p {
  width: 65%;
  font-family: "Saira";
  font-size: 18px;
  font-weight: 400;
}
.aboutbutton1 {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: -45%;
  margin-top: 20px;
}
.aboutbutton1 button {
  padding: 8px 90px;
  border: none;
  border-radius: 15px;
  background-color: #2d807f;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: "Saira";
}
@media screen and (max-width: 1148px) {
  .aboutflexwrap {
    display: flex;
    flex-wrap: wrap;
  }
  .leftsideaboutimagecontainer {
    width: 100%;
    margin-left: 20%;
  }
  .rightsideaboutdesecription {
    width: 100%;
    margin-top: -20%;
    margin-left: 21%;
    padding: 25px;
  }
  .image2contain {
    width: 300px;
    height: 500px;
    object-fit: contain;
    position: absolute;
    top: 70px;
    left: 22%;
  }
  .rightsideaboutdesecription p {
    width: 80%;
    font-family: "Saira";
    font-size: 18px;
    font-weight: 400;
  }
}

@media screen and (max-width: 650px) {
  .rightsideaboutdesecription p {
    width: 100%;
  }
  .leftsideaboutimagecontainer {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 20%;
    height: 70vh;
  }
  .image1contain {
    width: 200px;
    height: 400px;
    object-fit: contain;
    position: absolute;
    top: 40px;
    left: 0;
  }
  .image2contain {
    width: 200px;
    height: 400px;
    object-fit: contain;
    position: absolute;
    top: 70px;
    left: 42%;
  }
  .rightsideaboutdesecription {
    width: 100%;
    margin-top: -35%;
    margin-left: 0%;
    padding: 25px;
  }
  .aboutbutton1 {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: -10%;
    margin-top: 30px;
  }
  .aboutbutton1 button {
    padding: 5px 40px;
    border: none;
    border-radius: 15px;
    background-color: #2d807f;
    color: white;
    font-size: 18px;
    font-family: "Saira";
  }
}
