.aboutpagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.aboutflexwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}
.leftsideaboutimagecontainer {
  position: relative;
  height: 100vh;
  width: 40%;
  margin-left: 5%;
}
.image1contain {
  width: 300px;
  height: 500px;
  object-fit: contain;
  position: absolute;
  top: 40px;
}
.image2contain {
  width: 300px;
  height: 500px;
  object-fit: contain;
  position: absolute;
  top: 70px;
  left: 40%;
}
.rightsideaboutdesecription {
  width: 60%;
  padding: 25px;
}
.rightsideaboutdesecription h1 {
  font-size: 100px;
  font-family: "Overlock SC";
  font-weight: normal;
}
.rightsideaboutdesecription h2 {
  font-family: "Proza Libre";
  font-size: 30px;
  margin-bottom: 40px;
}
.rightsideaboutdesecription p {
  width: 60%;
  font-family: "Saira";
  font-size: 18px;
  font-weight: 400;
}
.aboutbutton {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: -45%;
  margin-top: 20px;
}
.aboutbutton button {
  padding: 8px 90px;
  border: none;
  border-radius: 15px;
  background-color: #2d807f;
  color: white;
  font-size: 20px;
  font-family: "Saira";
}
