.weightlossingcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5f8ec0;
  color: white;
  flex-direction: column;
  height: 180px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.weightlossingcontainer h2 {
  font-family: "Saira";
  font-size: 32px;
}
.weightlossingcontainer p {
  text-align: center;
  font-family: "Saira";
  font-size: 20px;
  width: 40%;
}
@media screen and (max-width: 596px) {
  .weightlossingcontainer {
    height: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .weightlossingcontainer h2 {
    font-family: "Saira";
    font-size: 28px;
  }
  .weightlossingcontainer p {
    text-align: center;
    font-family: "Saira";
    font-size: 18px;
    width: 60%;
  }
}
